.Quizzer{ 
    height:15rem;
    background-color: #e2c7a4; 
    font-size: 1.5cm; 
    padding-top: 1px; 
    background-size: 90rem 17rem;
color:rgb(10, 7, 7)}

h1{ 
    padding-left: 1.8rem;}

li.nav{ 
    display:inline; 
    background-color: #191818;
    padding-right: 9rem; 
    padding-left: 9rem; 
    margin:5px; 
    font-weight: bold;}

li a{
    text-decoration: none; 
    color: rgb(255, 252, 252);}

.HImage{
    border:2px solid #000;
    height:34rem;
    border-radius: 4px;
}

.Image{ 
    width:50rem;
    height:34rem;}

.understood p{ 
    font-size: xx-large;
    font-weight:bolder; }
.understood{  
    margin-left: 52rem;
    margin-top: -33rem;}

body{
    background-color: #fefdfc;
width:94rem;}

#about-us{ 
    background-color:#e2c7a4 ; 
    font-size: x-large; 
    text-align: center; 
    padding-left: 7rem; 
    padding-right: 1rem;}

#contact-us{
    background-color:#e2c7a4 ;
    font-size: x-large; 
    padding-left: 7rem; 
    padding-right: 1rem;}

.c1{
    margin-left: 6rem; 
    width:20rem;}

.c2{
    margin-left: 57rem; 
    margin-top: -6.7rem; 
    width:30rem; 
    font-weight: bold;}

.home-topics,.topics{
    background-color: #ffffff; 
    width:90rem; 
    margin-left: 2rem; }

#C, #AI, #Sql, #Html{
    margin-left:17rem; 
    width: 20rem; 
    border:2px groove wheat ; 
    background-color: #DaaD86; 
    border-radius: 1ch; 
    font-size: x-large;}

div div h3 a{
    padding-left: 8rem; 
    color:black;}

#Python,#Js,#Java,#Dsa{
    margin-left: 57rem; 
    margin-top:-19rem;
    width: 20rem; 
    border:2px groove wheat ; 
    background-color: #DAAD86; 
    border-radius: 1ch; 
    font-size: x-large;}

#Js a{
    padding-left:4rem;}

#AI a{
    padding-left:1.2rem;}

.view a{
    padding-left:40rem; 
    color:black;}

.topics h1{
    font-size: 2cm; 
    font-weight: bold; 
    text-decoration: underline; 
    text-align: center; 
    background-color: #f0f0ef; 
    height: 7rem;}